<div id="chatBox">
  <div id="channelSelector"> 
    <span>0 is global channel(which is default)</span>
    <input type="text" name="" id="channelCodeInput" value="" placeholder="Please enter the chanel code" />
    <button id="channelButton">Enter</button>
  </div>
  <div id="chatRoom">
    <div id="content"> 
    </div>
    <div id="chatForm">
      <input type="text" name="" id="chatInput" value="" placeholder="your words here" />
      <button id="submitWordButton" >send</button>
      <button id="changeChannelButton" >change channel</button>
      <span id="channelDisplayer"></span>
    </div>
  </div>
</div>
