<div id="interactionBox">
  <div id="npcAvailableContainer"> 
  </div>
  <div id="rolePicBox">
    <img id="rolePicBoxImg" class="pageImage" src="./image/npc.png">
  </div>
  <div id="npcName">
    Shirron Zieto
  </div>
  <div id="diologBox">
    <p id="diologText"> </p>
  </div>
  <div id="roleList">
    <button id="HomuraIcon" class="roleIcon">Homura</button>
    <button id="YomiIcon" class="roleIcon">Yomi</button>
  </div>
  <!-- bg is used to create scalable background it's not good code style but currently we use it -->
  <div id="bg"> </div>
</div>
