<div id="interactionBox">
  <div id="npcAvailableContainer"> 
  </div>
  <div id="rolePicBox">
    <img id="rolePicBoxImg" class="pageImage" src="./image/shoppingGirl0.png">
  </div>
  <div id="npcName">
    Shirron Zieto
  </div>
  <div id="roleList">
  </div>
  <!-- bg is used to create scalable background it's not good code style but currently we use it -->
  <div id="bg"> </div>
  <div id="conversationBox">
    <p>测试中文</p>
    <p>Hello world!</p>
  </div>
  <div id="locationTitle">
    Factory
  </div>
</div>
