<div id="marketBuyWindow" class="serviceWindow"> 
  <div id="marketBuyGoodsBox" class="goodsBox">
    <button id="appleButton" class="marketGoods">apple
      <p id="appleButtonPriceText">100
      </p>
    </button>
    <button id="bananaButton" class="marketGoods">banana
      <p id="bananaButtonPriceText">300 </p>
    </button>
    <button id="orangeButton" class="marketGoods">orange
      <p id="orangeButtonPriceText">300
      </p>
    </button>
    <button id="watermellonButton" class="marketGoods">watermellon
      <p id="watermellonButtonPriceText">300
      </p>
    </button>
    <button id="yoooooButton" class="marketGoods">yooooo
      <p id="yoooooButtonPriceText">300
      </p>
    </button>
    <button id="sijimuriButton" class="marketGoods">sijimuri
      <p id="sijimuriButtonPriceText">300
      </p>
    </button>
    <button id="demasiaButton" class="marketGoods">demasia
      <p id="demasiaButtonPriceText">300
      </p>
    </button>
    <button id="yukuriButton" class="marketGoods">yukuri
      <p id="yukuriButtonPriceText">10000
      </p>
    </button>
  </div>
  <div id="marketBuyBuyListBox" class="buyListBox">
  </div>
  <button id="marketBuyBuyButton" class="buyButton">Buy</button>
  <button id="marketBuyclearButton" class="clearButton">Clear</button>
</div>
