body{
    padding:0;
    margin:0;
}
.canvasContainer{
    margin:0 auto;
    width:1280px;
    display:none;
}
#info{
    width:300px;
    position:absolute;
    top:0;
    right:0;
    background-color:#fff;
    height:700px;
    border-left:1px solid #888;
}
#screen,#screen2{
    cursor:none;
    width:1280px;
    border:1px solid #ddd;
}
#landingPage{
    input{
	margin:0 auto;
    }
    button{
	margin:20px auto;
    }
    margin:100px auto;
    width:700px;
}